html {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
  #container {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 575px;
    width: 575px;
  }
  
  .grid-item {
    background-color: white;
    border: 1px solid black;
    /* border: 1px solid #ddd; */
    /* text-align: center; */
  }

  .hover {
      border: 1px solid black;
    /* position: relative; */
    /* this will raise the element */
    top: -5px; 
    background-color: blue;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    float: bottom;
}

.btn {
    margin: 5px;
    padding: 2px;
}


